<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaolan.wxacm.web.dao.PrizeMapper">
    <resultMap id="BaseResultMap" type="com.yaolan.wxacm.web.model.Prize">
        <constructor>
            <idArg column="PZ_ID"    javaType="Long" />
        </constructor>
        <result column="PZ_NAME" property="name" jdbcType="VARCHAR" />
        <result column="PZ_IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
        <result column="PZ_TINY_IMG_URL" property="tinyImgUrl" jdbcType="VARCHAR" />
        <result column="PZ_GRADE" property="grade" jdbcType="INTEGER" />
        <result column="PZ_STATS" property="stats" jdbcType="INTEGER" />
        <result column="PZ_CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
         PZ_ID,PZ_NAME,PZ_IMG_URL,PZ_TINY_IMG_URL,PZ_GRADE,PZ_STATS,PZ_CREATE_TIME
    </sql>

    <select id="getPzByac" resultMap="BaseResultMap" parameterType="java.lang.Long">
          SELECT
        wx_prize.PZ_ID,PZ_NAME,PZ_IMG_URL,PZ_TINY_IMG_URL,PZ_GRADE,PZ_STATS,PZ_CREATE_TIME
        FROM wx_ac_prize JOIN
        wx_prize  ON wx_ac_prize.PZ_ID=wx_prize.PZ_ID WHERE wx_ac_prize.AC_ID=#{acid,jdbcType=BIGINT}
        order by PZ_CREATE_TIME desc
    </select>


    <select id="getPzByPz" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        wx_prize.PZ_ID,PZ_NAME,PZ_IMG_URL,PZ_TINY_IMG_URL,PZ_GRADE,PZ_STATS,PZ_CREATE_TIME
        FROM wx_ac_prize JOIN
        wx_prize  ON wx_ac_prize.PZ_ID=wx_prize.PZ_ID WHERE wx_ac_prize.pz_id=#{pzid,jdbcType=BIGINT}
        order by PZ_CREATE_TIME desc
    </select>

    <select id="getAllPz" resultMap="BaseResultMap">
        select
        *
        FROM
        wx_prize
        order by PZ_CREATE_TIME desc
    </select>

    <select id="getPzByStats" resultMap="BaseResultMap">
        select
        *
        FROM
        wx_prize where PZ_STATS=#{stats,jdbcType=INTEGER}
        order by PZ_CREATE_TIME desc
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    *
    FROM
    wx_prize where pz_id=#{id,jdbcType=INTEGER}
    order by PZ_CREATE_TIME desc
</select>

    <delete id="deleteByPrimaryKey">
        delete
        FROM
        wx_prize where pz_id=#{id,jdbcType=INTEGER}
    </delete>


    <update id="updateByPrimaryKeySelective">
update wx_prize
        <set>
        <if test="name != null">
            PZ_NAME=#{name,jdbcType=VARCHAR},
        </if>
        <if test="imgUrl != null">
            PZ_IMG_URL=#{imgUrl,jdbcType=VARCHAR},
        </if>
        <if test="tinyImgUrl != null">
            PZ_TINY_IMG_URL=#{tinyImgUrl,jdbcType=VARCHAR},
        </if>
        <if test="grade != null">
            PZ_GRADE=#{grade,jdbcType=INTEGER},
        </if>
        <if test="stats != null">
            PZ_STATS=#{stats,jdbcType=INTEGER},
        </if>
        </set>
         where pz_id=#{id,jdbcType=INTEGER}
    </update>


    <insert id="insertSelective" parameterType="com.yaolan.wxacm.web.model.Prize">
        insert into wx_prize
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="name != null">
                PZ_NAME,
            </if>
            <if test="imgUrl != null">
                PZ_IMG_URL,
            </if>
            <if test="tinyImgUrl != null">
                PZ_TINY_IMG_URL,
            </if>
            <if test="grade != null">
                PZ_GRADE,
            </if>
            <if test="stats != null">
                PZ_STATS,
            </if>
            <if test="createTime != null">
                PZ_CREATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
        </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="tinyImgUrl != null">
                #{tinyImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="stats != null">
                #{stats,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>

        <selectKey keyProperty="id" resultType="LONG" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>

    </insert>
</mapper>